#display-wrapper {
    width: 90%;
    height: 500px;
    margin: 20px auto;
    position: relative;
}

#display-wrapper > #display {
    width: 100%;
    height: 100%;
    left: 500px;
}

canvas {
    float: left;
    position: absolute;
}